@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;

  --primary: #ff7b00;
  --secondary: #00bfff;

  --dark: #0a0f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, #14213d 0%, #050816 55%);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --font-anime: "Teko";
}